div{
    width: 300px;
    height: 200px;
    background-color: black;
    background-image: url(http://toplogos.ru/images/logo-w3c.png);
    background-repeat: space;
    background-size: 25%;
}