div{
  border: 1px solid black;
}

@media (max-width: 992px){
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .flex-item{
    display: flex;
    justify-content: stretch;
  }
  #item-2{
    order: 1;
  }
  #item-3{
    flex-grow: 1;
  }
}

@media (max-width: 1240px)  {
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .flex-item{
    display: flex;
    justify-content: space-between;
  }
  #item-2{
    order: 1;
  }
  #item-3{
    flex-basis:70%;
  }
}
