.flex-container-400{
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container-400 > div{
  flex-basis: 40px;
}
#flex-item-0{
 flex-grow: 3;
}
.flex-container-500{
  display: flex;
  flex-direction: row;
  width: 500px;
}
[id^=flex-item]{
  flex:1 1 auto;
}
.flex-container-600{
  display: flex;
  flex-direction: row;
  width: 600px;
}