ul{
  list-style-type: none;
}
.dropdown {
  background: red;
  visibility: hidden; 
  transition: all 0.5s ease;
  display: none;
}
ul li:hover > ul, ul li ul:hover {
  visibility: visible;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}